<div class="container text-center">
    <h2>Bienvenu sur mon site web</h2>
    <p><a href="/usagers/login">Se Connecter</a></p>
    <p>
        <%- include('./partiels/message.ejs') %>
    </p>
</div>


