<% if (typeof erreurs != "undefined") { %> 
    <% erreurs.forEach(function(erreur) { %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= erreur.msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% }); %>
  <% } %>
<% if (typeof erreur_passport !='undefined' && erreur_passport != "") { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%= erreur_passport %> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>  
    <% } %>
    <% if (typeof erreur_msg !='undefined' && erreur_msg !='') { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= erreur_msg %> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>  
<% } %>
<% if (typeof success_msg !="undefined" && success_msg !='') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  
<% } %>